<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
    <head>
        <meta charset="ISO-8859-1">
        <title>Bem-vindo ao lottery.app</title>
        <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
        <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container text-center">
            <h1>Bem-vindo ao lottery.app</h1>
            <h2>O que deseja fazer?</h2>
            <h3><a th:href="@{/user}">Apostar!</a></h3>            
            <h3><a th:href="@{/consultar}"></a>Consultar apostas!</a></h3>            
        </div>
                
    </body>
</html>